body {
  font-family: 'Varela Round', 'Segoe UI', 'Trebuchet MS', sans-serif;
}

.page-header,
.page-header h1 {margin-top:0;}

footer { font-size: 80%; }
footer hr { margin-bottom: 5px; }

#timelineColorful, #timelineLiveUpdate {
  font-size: 80%;
}
